body{
	color:blue;
	background-color:red;
	width:900px;
}

h1{
	background-color:orange;
	color:inherit;
	margin:auto;
	width:500px;
	border: 1px solid blue;
	text-align:center;
	padding:30px 200px 30px 200px;
}

h2{
	background-color:pink;
	color:inherit;
}

table,td,th{
	border:solid 1px blue;
	border-collapse:collapse;
}